#root {
  max-width: 1280px;
  // margin: 0 auto;
  // padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#modal {
  #modalTitle {
    background-color: #1a1a1a;
    // outline: 1px solid #3d3d3d;
    color: white;
    font-size: 25px;
    font-weight: 900;
  }
  .MuiDialog-paper {
    background-color: #1a1a1a;
    border-radius: 15px;
    outline: 1px solid #3d3d3d;
  }
  #modalClose {
    border-radius: 15px;
    padding: 5px 10px;
  }
  #modalText {
    color: white;
    .modalImageHolder {
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        // min-width: 300px;
        // max-width: 600px;
        width: 60%;
        &.twice {
          width: 100%;
        }
      }
    }

    // .partOfSpeech {
    //   margin: 0.4rem;
    //   padding: 0.1rem;
    //   width: 80%;
    //   color: white;
    // }
    // .definition {
    //   margin: 0.4rem;
    //   margin-left: 1rem;
    //   padding: 0.1rem;
    //   width: 80%;
    //   color: white;
    // }
    // .example {
    //   margin: 0.4rem;
    //   margin-left: 2.4rem;
    //   padding: 0.1rem;
    //   width: 80%;
    //   color: white;
    // }
  }
}
